h1 {
	font-size: 1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
}
p {
	font-size: .75em;
	font-family: 'Open Sans Condensed', sans-serif;
}

body {
	background: url('../img/brickwall2x.png') repeat;
	text-align: center;
	margin-top:100px;
}
li {
	list-style: none;
}

img {
	max-width: 700px;
	max-height: auto;
}